Daniel-Gonçalves)Chatbot/Chatbot/flowsCheckpoint3.json
[{"id":"3202ad0f508b9ab3","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"99c9226ee6870f0b","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"22f10bdfae5086be","type":"tab","label":"Conectar_Telegram_Watson","disabled":false,"info":"","env":[]},{"id":"98952a4f39ac2644","type":"tab","label":"Audio","disabled":false,"info":"","env":[]},{"id":"94fa37a1bca9a672","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"5e24b4281ed2cd42","type":"telegram bot","botname":"@Already356_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksprotocol":"socks5","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"a56ebd26e645384e","type":"natural-language-understanding","z":"3202ad0f508b9ab3","name":"","categories":true,"limitcategories":"5","classifications":false,"classifications-model":"8","concepts":false,"maxconcepts":"8","doc-emotion":false,"doc-emotion-target":"","doc-sentiment":true,"doc-sentiment-target":"","entity":true,"entity-emotion":true,"entity-sentiment":true,"maxentities":"10","keyword":false,"keyword-emotion":false,"keyword-sentiment":false,"maxkeywords":"50","metadata":true,"relation":false,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","limittextcharacters":"0","syntax":false,"syntax-sentences":false,"syntax-tokens-lemma":false,"syntax-tokens-pos":false,"service-endpoint":"https://api.us-south.natural-language-understanding.watson.cloud.ibm.com/instances/187294f8-1a87-4982-9de1-05657a599579","x":460,"y":200,"wires":[["5a714af22eda77a2"]]},{"id":"5a714af22eda77a2","type":"debug","z":"3202ad0f508b9ab3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"features","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":200,"wires":[]},{"id":"7d5fd13c28656e0d","type":"inject","z":"3202ad0f508b9ab3","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"https://pt.wikipedia.org/wiki/Chatterbot","payloadType":"str","x":130,"y":200,"wires":[["a56ebd26e645384e"]]},{"id":"31037293b731f72f","type":"telegram receiver","z":"99c9226ee6870f0b","name":"","bot":"5e24b4281ed2cd42","saveDataDir":"","filterCommands":false,"x":190,"y":280,"wires":[["845f0b679e42ca24","8d85c1b7efb054b0"],["b4d76a002b6deec4"]]},{"id":"845f0b679e42ca24","type":"debug","z":"99c9226ee6870f0b","name":"Entrada no Telegram","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":420,"y":180,"wires":[]},{"id":"75b3df0a9c5e7c4d","type":"telegram sender","z":"99c9226ee6870f0b","name":"","bot":"5e24b4281ed2cd42","haserroroutput":false,"outputs":1,"x":1030,"y":280,"wires":[[]]},{"id":"4a19a2a22ee7fb90","type":"watson-assistant-v2","z":"99c9226ee6870f0b","name":"Escola","service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/2a8cd0b2-3ab7-44f2-ba5e-a61f06785fd0","assistant_id":"8e53022b-242b-46ce-aee3-7ff521564286","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"persist-session-id":true,"x":570,"y":280,"wires":[["c50b9866f62ff243","1c6420107bf46901"]]},{"id":"c50b9866f62ff243","type":"debug","z":"99c9226ee6870f0b","name":"resposta para o telegram","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":180,"wires":[]},{"id":"8d85c1b7efb054b0","type":"change","z":"99c9226ee6870f0b","name":"Prepara Entrada","rules":[{"t":"set","p":"params.session_id","pt":"msg","to":"payload.chaId","tot":"msg"},{"t":"set","p":"chatId","pt":"msg","to":"payload.chatId","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.content","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":280,"wires":[["4a19a2a22ee7fb90"]]},{"id":"1c6420107bf46901","type":"change","z":"99c9226ee6870f0b","name":"Prepara Retorno","rules":[{"t":"set","p":"payload.chatId","pt":"msg","to":"chatId","tot":"msg"},{"t":"set","p":"payload.type","pt":"msg","to":"message","tot":"str"},{"t":"set","p":"payload.content","pt":"msg","to":"payload.output.generic[0].text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":280,"wires":[["75b3df0a9c5e7c4d"]]},{"id":"b4d76a002b6deec4","type":"function","z":"99c9226ee6870f0b","name":"Acesso não autorizado","func":"msg.payload.content = \"Você não é um usuário autorizado\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":400,"wires":[["75b3df0a9c5e7c4d"]]},{"id":"82a58cf2cab9a4fc","type":"function","z":"22f10bdfae5086be","name":"proc Entrada","func":"msg.params ={\n    \"session_id \": msg.payload.session_id !== 'undefined' ? msg.payload.session_id : \"\"\n};\nmsg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":170,"y":1020,"wires":[[]]},{"id":"baf51ab114a2fb45","type":"function","z":"22f10bdfae5086be","name":"function 5","func":"msg.payload = {\n    chatId : msg.chatId,\n    type : \"message\",\n    content : msg.payload.output.generic[0].text\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1020,"wires":[[]]},{"id":"ad06cf3a2ad7666b","type":"debug","z":"22f10bdfae5086be","name":"Saída Texto","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":80,"wires":[]},{"id":"a7e128727d87f476","type":"debug","z":"22f10bdfae5086be","name":"Entrada audio","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":320,"y":60,"wires":[]},{"id":"85a19943bf050907","type":"watson-speech-to-text","z":"22f10bdfae5086be","name":"STT","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"NoCustomisationSetting","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"BroadbandModel","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"tlRFSDhGwiBfY_EGt_xoAR21RT4zfoz8OWlwbBYVnaZs","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/6b6e8863-da16-4349-9b27-81f9fae3e3d7","x":750,"y":240,"wires":[["9508494d53c02c84"]]},{"id":"fa8c77bb3a322623","type":"telegram receiver","z":"22f10bdfae5086be","name":"","bot":"5e24b4281ed2cd42","saveDataDir":"","filterCommands":false,"x":110,"y":120,"wires":[["a7e128727d87f476","0e813b1b4f9e9320"],["76c28472290c7758"]]},{"id":"1db89447279f7bf0","type":"watson-assistant-v2","z":"22f10bdfae5086be","name":"Escola","service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/2a8cd0b2-3ab7-44f2-ba5e-a61f06785fd0","assistant_id":"8e53022b-242b-46ce-aee3-7ff521564286","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"persist-session-id":false,"x":510,"y":140,"wires":[["ad06cf3a2ad7666b","a953bac506a9dcfe"]]},{"id":"6fbb57f325b22d54","type":"debug","z":"22f10bdfae5086be","name":"Entrada TT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":80,"wires":[]},{"id":"9508494d53c02c84","type":"function","z":"22f10bdfae5086be","name":"ProcOutTTS","func":"msg.payload = {\n    chatId : msg.params.session_id,\n    content : msg.payload,\n    type : 'voice'\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":990,"y":240,"wires":[["a7bc78fd668efbef","649c66c664cc06fd"]]},{"id":"0e813b1b4f9e9320","type":"function","z":"22f10bdfae5086be","name":"ProcIn WA","func":"msg.params = {};\nmsg.params.session_id = msg.payload.chatId;\nmsg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":140,"wires":[["1db89447279f7bf0"]]},{"id":"a953bac506a9dcfe","type":"function","z":"22f10bdfae5086be","name":"ProcOut WA","func":"msg.payload = msg.payload.output.generic[0].text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":140,"wires":[["6fbb57f325b22d54","85a19943bf050907"]]},{"id":"a7bc78fd668efbef","type":"debug","z":"22f10bdfae5086be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1110,"y":140,"wires":[]},{"id":"649c66c664cc06fd","type":"telegram sender","z":"22f10bdfae5086be","name":"","bot":"5e24b4281ed2cd42","haserroroutput":false,"outputs":1,"x":1290,"y":260,"wires":[[]]},{"id":"76c28472290c7758","type":"function","z":"22f10bdfae5086be","name":"Acesso não autorizado","func":"msg.payload.content = \"Usuário sem permissão de acesso.\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":320,"wires":[["649c66c664cc06fd"]]},{"id":"da485e23ec319923","type":"telegram receiver","z":"98952a4f39ac2644","name":"","bot":"5e24b4281ed2cd42","saveDataDir":"","filterCommands":false,"x":130,"y":100,"wires":[["259d9968d318a690","6d2987d0101ff1ba"],["5237a67b488aa12f"]]},{"id":"259d9968d318a690","type":"debug","z":"98952a4f39ac2644","name":"Entrada","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":320,"y":40,"wires":[]},{"id":"441622622a4b7d14","type":"watson-assistant-v2","z":"98952a4f39ac2644","name":"Escola","service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/2a8cd0b2-3ab7-44f2-ba5e-a61f06785fd0","assistant_id":"8e53022b-242b-46ce-aee3-7ff521564286","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"persist-session-id":false,"x":490,"y":120,"wires":[["166d27cadaf7d92d","2526d2e06664c7e4"]]},{"id":"166d27cadaf7d92d","type":"debug","z":"98952a4f39ac2644","name":"Saida","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":40,"wires":[]},{"id":"2526d2e06664c7e4","type":"function","z":"98952a4f39ac2644","name":"ProcOUT WA","func":"msg.payload = msg.payload.outpit.generic[0].text\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":100,"wires":[["80ddac6238f57bbf","506afb5c985ce4ce"]]},{"id":"80ddac6238f57bbf","type":"debug","z":"98952a4f39ac2644","name":"Entrada TTS","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":40,"wires":[]},{"id":"506afb5c985ce4ce","type":"watson-text-to-speech","z":"98952a4f39ac2644","name":"","lang":"","langhidden":"","langcustom":"NoCustomisationSetting","langcustomhidden":"NoCustomisationSetting","voice":"","voicehidden":"","format":"audio/mp3","password":"","apikey":"8e53022b-242b-46ce-aee3-7ff521564286","payload-response":false,"service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/2a8cd0b2-3ab7-44f2-ba5e-a61f06785fd0/v2/assistants/8e53022b-242b-46ce-aee3-7ff521564286/sessions","x":520,"y":200,"wires":[["78a0105c0e023688"]]},{"id":"78a0105c0e023688","type":"function","z":"98952a4f39ac2644","name":"ProcOUT TTS","func":"msg.payload = {\n    chatId : msg.params,\n    content : msg.payload,\n    type : 'voice'\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":200,"wires":[["343f7cf7030ab061","5df39c9d4dbf751c"]]},{"id":"343f7cf7030ab061","type":"debug","z":"98952a4f39ac2644","name":"Retorno TTS","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":160,"wires":[]},{"id":"5df39c9d4dbf751c","type":"telegram sender","z":"98952a4f39ac2644","name":"","bot":"5e24b4281ed2cd42","haserroroutput":false,"outputs":1,"x":1030,"y":220,"wires":[[]]},{"id":"6d2987d0101ff1ba","type":"function","z":"98952a4f39ac2644","name":"ProcIN WA","func":"msg.params = {};\nmsg.params.session_id = msg.payload.chatId;\nmsg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":100,"wires":[["441622622a4b7d14"]]},{"id":"5237a67b488aa12f","type":"function","z":"98952a4f39ac2644","name":"Acesso não autorizado","func":"msg.payload.content = \"usuario sem permissão de acesso\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":320,"wires":[["5df39c9d4dbf751c"]]},{"id":"ee998f770a9949f6","type":"change","z":"98952a4f39ac2644","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":200,"wires":[[]]},{"id":"fb115198974f5857","type":"watson-assistant-v2","z":"94fa37a1bca9a672","name":"","service-endpoint":"","assistant_id":"8e53022b-242b-46ce-aee3-7ff521564286","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"persist-session-id":false,"x":570,"y":200,"wires":[["6103cb29ca33abeb","4bb24e1ff6ba46a9"]]},{"id":"03add1d1d351e24d","type":"telegram receiver","z":"94fa37a1bca9a672","name":"","bot":"5e24b4281ed2cd42","saveDataDir":"","filterCommands":false,"x":310,"y":120,"wires":[["fb115198974f5857","9cca841201c74969"],[]]},{"id":"9cca841201c74969","type":"debug","z":"94fa37a1bca9a672","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":500,"y":40,"wires":[]},{"id":"6103cb29ca33abeb","type":"telegram sender","z":"94fa37a1bca9a672","name":"","bot":"5e24b4281ed2cd42","haserroroutput":false,"outputs":1,"x":870,"y":120,"wires":[[]]},{"id":"4bb24e1ff6ba46a9","type":"debug","z":"94fa37a1bca9a672","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":40,"wires":[]}]